.navigation{
    
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-content: flex-end;
    justify-content: flex-end;
    padding-right: 1.5rem;

}
.navigation h2{
    position: absolute;
    left:8rem;
}


.register,
.login {
  padding: 2rem 0rem;
  background-color: transparent;
  text-align: center;
  font-size: 1.6rem;
  border: none;
}
.login, .register a{
    color:#111112;
}

.login {
  margin-left: 2rem;
}

.register:hover a,
.login:hover a{
    cursor: pointer;
    transition: 0.7s;
    color: hotpink;
}
.login-register{
    align-self: flex-end;
    justify-self: flex-end;
}

/*LOGGED IN NAVIGATION.............................................................*/

.loggedIn-navigation{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-content: flex-end;
    justify-content: flex-end;
    margin-bottom: 5rem;
        
}