*{
    margin:0px;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.root{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*header css*/


header{
    background-color: rgb(228, 110, 110);
    margin: 0;
    height: 150px;
    text-align: center;
    padding: 33px;

}

h1{
    margin: 0;
    padding: 0;
}
.homepage-main{
    display:flex;
    background-color: rgb(240, 231, 231);
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.homepage-right{
    background-image:url(https://wallpapercave.com/wp/2FwK691.jpg);
    background-repeat: no-repeat;
    height: 700px;
    flex-basis: 400px;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.login-form{
    display: flex;
    flex-direction: column;
}
.form-div-2{
    height:300px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 183, 183);
    box-shadow: 2px 2px 10px rgb(161, 159, 160);
    
}
.form-div-3{
    margin-top: 20px;
    height:fit-content;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 183, 183);
    box-shadow: 2px 2px 10px rgb(161, 159, 160);
    
}

.homepage-left{
    background: linear-gradient(to left, rgb(64, 87, 81),rgb(104, 81, 80));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    flex-basis: 400px;
    flex-grow: 2;

}


.form-div-1{
    height:350px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    background-color: rgb(201, 183, 183);
    box-shadow: 2px 2px 10px rgb(161, 159, 160);
    
}

.search-form{
    display: flex;
    flex-direction: column;
}

.homepage-signup{
    background-color: lightslategray;
}

.button-normal {
    display: inline-block;
    padding: 8px 15px;
    margin: 10px 0;
    text-transform: uppercase ;
    font-size: 18px;
    border-radius: 40px;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
}

.noDisplay{
    display: none;
}

.sign-in-up{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
