:root {
  --main-dark-color: #1B1811;
  --main-light-color: #F8F8FF;
  --light-blue: #97DFFC;
  --dark-blue: #02044F;
  --main-red: #FF1654;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(244, 244, 244);
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

#root {
  width: 100vw;
  padding: 0;


  /* display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;  */
}

.uploadbook-form {
  margin: 90px;
  background-color: #0090ce;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 600px;
  text-align: start;
}

/* systemetic */

.navigation {
  display: flex;
  background: var(--dark-blue);
}

.navigation .container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* @media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 95%;
  }
} */

.logo-div {
  background: transparent;
}

.logo-div img {
  width: 100px;
  height: 80px;
  background: transparent;
}

.register,
.login {
  padding: 0.7rem 2rem 0.7rem 2rem;
  background-color: var(--light-blue);
  text-align: center;
  border-radius: 20px;
  font-size: 1.6rem;
}

.login {
  margin-left: 2rem;
}

.register:hover,
.login:hover {
  border: 2px solid --main-red;
  background-color: var(--main-light-color);
}

.home-page {
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://cbsnews2.cbsistatic.com/hub/i/r/2015/12/11/7f3c9843-adb1-4022-be13-82515641a9fc/thumbnail/1200x630/5af2e16fd2ecd02f06637db5ca110a43/open-book.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 7rem;
  text-shadow: 3px 3px #F8F8FF;
  text-align: center;
  margin-bottom: 2rem;
}



.home-page div {
  position: relative;
  text-align: left
}

.btn-borrow,
.btn-lend {
  padding: 0.7rem 2rem 0.7rem 2rem;
  background-color: var(--light-blue);
  text-align: center;
  border-radius: 20px;
  font-size: 1.6rem;
}

.btn-borrow:hover,
.btn-lend:hover {
  border: 2px solid --main-red;
  background-color: var(--main-light-color);
}

.btn-borrow {
  margin-right: 1rem;
}

.btn-lend {
  margin-left: 1rem;
}

/*search results*/

.single-book-details {
  width: 600px;
  min-height: 160px;
  padding: 10px;
  margin: 10px;
  border: 1px solid green;
  top: 30px;
  margin-left: 100px;
  text-align: left;
  background-color: rgba(227, 225, 230, 0.932);
  position: relative;

}
.single-book-details div{
  border-bottom: 1px solid grey;
  padding: 5px;
}

.book-delete-button{
  position: absolute;
  width: 15px;
  height: 15px;
  top:5px;
  right:5px;
  text-align: center;
}


.book-delete-button:hover{
  background-color: rgb(253, 0, 0);
}


.search{
  position: absolute;
  top: 30px;

}

.search1 {
  left: 38%;
  position: absolute;
}

.home-page h4 {
  padding: 10px;
  background-color: rgb(77, 120, 175);
  text-align: center;
  border-radius: 10px;
  margin: 10px;

}

.homepage-right {
  margin-top: 80px;
}


.search-results p{
margin-top:30px;
text-align: left;

}

/*USER PAGE................................................................................*/

.user-page{
  width: 100%;
  min-height: 800px;
  background-color: rgba(0, 0, 0, 0.356);
  display: flex;
  flex-direction: row;
}

.user-page-left{
  flex-basis: 20%;
  background-color: rgb(121, 121, 184);
}

.user-page-right{
  flex-basis: 80%;

}

/* login......................................................*/
*{
  box-sizing: border-box;
  font-size: 1em;
}

.login-register-body{
  background-color: rgb(150, 148, 53);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url(./components/fotos/logincover.svg);
  background-position: left ;

}

.login-register-container{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 350px;
  max-width: 100%;
  overflow: hidden;
  box-shadow: 1px 1px 20px rgb(119, 53, 53);
}
.login-register-header{
  background-color: rgb(159, 216, 137);
  text-align: center;
  padding: 10px 40px;
}
.header p{
  font-size: 0.7rem;
} 
.header h1{
  margin: 0;
  font-size: 1.5rem;
}
.form{
  padding: 20px 30px;
}
.form-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label{
  display: block;
  margin-bottom: 5px;

}
.form-control input{
  border: 1px solid rgb(65, 27, 233);
  border-radius: 2px;
  display: block;
  font-size: 1.5rem;
  width: 100%;
}
.form-control.success input{
  border-color: rgb(140, 224, 224);
}
.form-control.error input{
  border: 2px solid red ;
}
.form-control i{
  position: absolute;
  top: 30px;
  right: 25px;
  visibility: hidden;

}
.form-control.success i.fa-check-circle{
  color:green;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
  color:red;
  visibility: visible;
}


.form-control small{
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  left:0px;
}
.form-control.error small{
  color:red;
  visibility: visible;
}

.form button{
  background-color: rgb(161, 102, 168);
  border: 2px solid green;
  border-radius: 3px;
  color: white;
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;

  padding: 6px;
  width: 100%;
}
.form button:hover{
  background-color: rgb(28, 100, 124);
}

.renderAverage {
  text-align: center;
  font-size: 2rem;
  color: rgb(19, 206, 28);
  font-weight: bolder;

}





