:root {
  --main-dark-color: #1b1811;
  --main-light-color: #f8f8ff;
  --light-blue: #97dffc;
  --dark-blue: #02044f;
  --main-red: #ff1654;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(244, 244, 244);
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #603813; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #603813,
    #b29f94
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #603813,
    #b29f94
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
a {
  text-decoration: none;
}

#root {
  width: 100%;
  padding: 0;
  margin: 0px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;

  /* display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;  */
}

.uploadbook-form {
  margin: 90px;
  background-color: #0090ce;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 600px;
  text-align: start;
}

/* systemetic */

.navigation {
  display: flex;
  background: transparent;
  width: 100%;
}

.navigation .container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* @media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 95%;
  }
} */

.logo-div {
  background: transparent;
}

.logo-div img {
  width: 100px;
  height: 80px;
  background: transparent;
}

.register,
.login {
  padding: 0.7rem 2rem 0.7rem 2rem;
  background-color: var(--light-blue);
  text-align: center;
  border-radius: 20px;
  font-size: 1.6rem;
}

.login {
  margin-left: 2rem;
}

.register:hover,
.login:hover {
  border: 2px solid --main-red;
  background-color: var(--main-light-color);
}

.home-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home-page-up {
  height: 300px;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-page-up h1 {
  font-size: 55px;
  color: #b9bd8a;
}

.home-page-bottom {
  min-height: 300px;
  width: inherit;
  padding: 10px 0px;
}

.search-results {
  width: 100%;
  position: relative;
}

.title {
  font-size: 7rem;
  text-shadow: 3px 3px #f8f8ff;
  text-align: center;
  margin-bottom: 2rem;
}

.home-page div {
  position: relative;
  text-align: left;
}

.btn-borrow,
.btn-lend {
  padding: 0.7rem 2rem 0.7rem 2rem;
  background-color: var(--light-blue);
  text-align: center;
  border-radius: 20px;
  font-size: 1.6rem;
}

.btn-borrow:hover,
.btn-lend:hover {
  border: 2px solid --main-red;
  background-color: var(--main-light-color);
}

.btn-borrow {
  margin-right: 1rem;
}

.btn-lend {
  margin-left: 1rem;
}

/*search results*/
.search-results-display {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.single-book-details {
  flex-basis: 30%;
  min-height: 160px;
  padding: 5px 20px;
  margin: 10px;
  top: 30px;
  text-align: left;
  background-color: rgba(227, 225, 230, 0.932);
  position: relative;
  box-shadow: 2px 2px 10px rgb(73, 72, 72);
}
.single-book-details div {
  border-bottom: 1px solid grey;
  padding: 5px;
}

.single-book-details:hover {
  background: white;
  box-shadow: inset 6px 10px 60px rgb(3, 3, 3);
}

.book-delete-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  right: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 200, 200);
}

.book-delete-button:hover {
  background-color: rgb(253, 0, 0);
  cursor: pointer;
}

.search {
  position: absolute;
  top: 30px;
}

.homepage-right {
  margin-top: 80px;
}

.search-results p {
  margin-top: 30px;
  text-align: left;
}

/* login......................................................*/
* {
  box-sizing: border-box;
  font-size: 1em;
}

.login-register-body {
  background-color: rgb(150, 148, 53);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-image: url(./components/fotos/logincover.svg);
  background-position: left;
}

.login-register-container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 350px;
  max-width: 100%;
  overflow: hidden;
  box-shadow: 1px 1px 20px rgb(119, 53, 53);
}
.login-register-header {
  background-color: rgb(159, 216, 137);
  text-align: center;
  padding: 10px 40px;
}
.header p {
  font-size: 0.7rem;
}
.header h1 {
  margin: 0;
  font-size: 1.5rem;
}
.form {
  padding: 20px 30px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  display: block;
  margin-bottom: 5px;
}
.form-control input {
  border: 1px solid rgb(65, 27, 233);
  border-radius: 2px;
  display: block;
  font-size: 1.5rem;
  width: 100%;
}
.form-control.success input {
  border-color: rgb(140, 224, 224);
}
.form-control.error input {
  border: 2px solid red;
}
.form-control i {
  position: absolute;
  top: 30px;
  right: 25px;
  visibility: hidden;
}
.form-control.success i.fa-check-circle {
  color: green;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: red;
  visibility: visible;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.form-control.error small {
  color: red;
  visibility: visible;
}

.form button {
  background-color: rgb(161, 102, 168);
  border: 2px solid green;
  border-radius: 3px;
  color: white;
  display: block;
  font-family: "Open Sans Condensed", sans-serif;

  padding: 6px;
  width: 100%;
}
.form button:hover {
  background-color: rgb(28, 100, 124);
}

.renderAverage {
  text-align: center;
  font-size: 2rem;
  color: rgb(19, 206, 28);
  font-weight: bolder;
}

/*book upload*/
.main-container {
  /* display: flex;
  width: 100%;
  height: 60vh;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; */
  margin: 120px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 600px;
  width: 1200px;
  text-align: start;
}

.uploadbook-form-container {
  display: block;
}

.uploadbook-form-container h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: large;
  font-weight: lighter;
  color: #121c25;
  text-align: center;
  background-color: #ffffff;
  margin-left: 90px;
}

.uploadbook-form {
  text-align: left;
  background-color: #ffffff;
  margin-left: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  font-size: 1.5rem;
}

.uploadbook-field-div {
  width: 100%;
}

.label-top {
  display: block;
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: small;
  background-color: #ffffff;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  height: 40px;
  background-color: #dbe8ea !important;
  color: #ffffff;
  padding-left: 10px;
  border: none;
  outline: none;
}

input[type="text"]:focus,
input[type="date"]:focus,
input:not([value=""]) {
  background-color: #0d0c0c !important;
}

/* homepage search */
.search-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-wrapper {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
}

.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}
.searchbar {
  border: none;
  width: 500px;
  font-size: 16px;
  outline: none;
  margin: 0 auto;
  border-radius: 30px;
  border: 1px solid #2c2828;
  background-color: rgba(34, 29, 29, 0.575);
  display: flex;
  flex-direction: row;
}
.searchbar-input {
  height: 45px;
  border: none;
  width: 80%;
  font-size: 16px;
  outline: none;
  margin: 0 auto;
  display: block;
  background-color: unset;
  color: rgb(247, 247, 247);
  flex-basis: 80%;
  justify-content: center;
  align-items: center;
}
.searchbar:hover {
  box-shadow: 1px 1px 8px 1px #423f3f;
}
.search-image-div {
  flex-basis: 10%;
  position: relative;
}
.voice {
  position: absolute;
  height: 20px;
  top: 25%;
  left: 20%;
}
.buttons {
  margin-top: 30px;
}
.button {
  background-color: #e9ece8de;
  border: none;
  color: #050505;
  font-size: 15px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  outline: none;
}
.button:hover {
  border: 1px solid #5c9c37;
  padding: 9px 19px;
  color: #1f1919;
  background-color: rgb(100, 121, 98);
}
.button:focus {
  border: 1px solid #4885ed;
  padding: 9px 19px;
}

.footer {
  width: 100%;
  background-color: violet;
  mex-height: 200px;
}
